<html>
    <head>
        <title>
            Blog App
        </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
   <body>     
       <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div>
                <a id="distinct" href="/" class="item hover">Home</a>
                <a id="distinct" href="/blogs/new" class="item hover">New Post</a>
                
            </div>    
        </div>
   